---

# Variables : domain, ssl, git, version|default(master), web_dir|default(web)
websites:
  - { domain: fuliculi.com, ssl: true, git: "https://github.com/FuliCuli/fuliculi.git" }
  - { 
        domain: api.fuliculi.com, 
        git: "https://github.com/FuliCuli/api.git",
        ssl: true,
        type: "symfony",
        params: {
            mailer_transport: smtp,
            mailer_host: "127.0.0.1",
            mailer_user: "null",
            mailer_password: "null",
            locale: en
        }
    }
