---

# Variables : domain, ssl, git, version|default(master), web_dir|default(web)
websites:
  - { domain: fuliculi.com, ssl: true, git: "https://github.com/FuliCuli/fuliculi.git" }
  - { domain: api.fuliculi.com, ssl: true, git: "https://github.com/FuliCuli/api.git" }